<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quyen Anh's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Quyen Anh's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2016</p>
            <h2><a href="">My first post</a></h2>
            <p>asdjfh asdjf as fja sfdj askd fasdj asd auwhe askhfajwe ajsdf a ewfuhw aef.<br>Eo quan tam</p>
        </div>


        <div>
            <p>published: 14.06.2016</p>
            <h2><a href="">My second post</a></h2>
            <p>asdjfh asdjf as fjae askhfajwe ajsdf a ewfuhw aef.<br>Dech care</p>
        </div>
    </body>
</html>